# project idx
.idx/

# ============ FrontEnd ============
*/frontend/.env
*/frontend/.env.*
*/frontend/.next
*/frontend/.vscode
*/frontend/node_modules
*/frontend/docs
*/frontend/next-env.d.ts

# ============== shared ==============

# IDE 및 에디터 설정 파일
.idea/
.vscode/
*.swp

# macOS 시스템 파일
.DS_Store

# AI
AGENTS.md
CLAUDE.md